@header-height: 65px;

.App {
  text-align: center;
}

.App-header {
  height: @header-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: @header-text-color;
  position: relative;
  top: 0;
  left: 0;
  background-color: @main-green;
}

.header-content{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: @header-height;
}

.app-footer{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: @header-height;
  background-color: @main-green;
  bottom: 0;
  position: sticky;
}

.no-margins{
  margin: 0;
}

.flex-column{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.content{
  padding: 20px;
  color: @text-color;
  min-height: calc(100vh - @header-height*2);
}

.limit-width{
  width: 100%;
  max-width: 800px;
}

.section-wrapper{
  border: black dashed 2px;
  padding: 5px;
  width: 75%;
  margin: 15px;
}

.section-text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-title{
  position: absolute;
  left: 0;
}

.input-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  postion: relative;
}

.input-cell {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 5px 0 5px 0;
}

.input-info {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: end;
  position: relative;

}

.same-line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.label {
  align-self: flex-start;
}

.limit-input-width {
  max-width: 150px;
}

.align-left {
  align-items: flex-start;
}

.optional-section{
  position: relative;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  background-color: darkgrey;
  border-radius: 5px;
  margin: 5px;
  animation: growDown 300ms ease-in-out forwards;
  &__active{
    display: flex;
  }
  &__passive{
    display: none;
  }
}

.dropdown{
  display: flex;
  max-width: 150px;
  &--button{
    width: 100%;
    margin: 0;
  }
  &--list{
    width: 150px;
    max-height: 200px;
    position: absolute;
    margin-top: 25px;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    z-index: 10;
    animation: growDown 300ms ease-in-out forwards;
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;
    &__active{
      display: flex;
    }
    &__passive{
      display: none;
    }
  }
  &--element{
    text-align: left;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid black;
    &:hover, &:focus{
      background-color: @lighter-green;
    }
  }
  &--text{
    display: inline-block;
    margin: 0 5px 0 5px;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.button{
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 5px 0 5px;
  margin: 5px 0 5px 0;
  align-items: center;
  justify-content: center;
  &--default{
    font-size: 0.85em;
    background-color: white;
    border: 1px solid grey;
    color: black;
    padding-right: 3px !important;
    &:hover{
      background-color: grey;
    }
    &:active{
      background-color: @main-color;
    }
  }
  &__bigger{
    font-size: 1.0em;
  }
  &--back{
    width: 200px;
    background-color: @darker-green;
    margin: 0 20px 0 0;
    &:hover{
      background-color: @lighter-green;
    }
  }

  &--header{
    background-color: @main-green;
    height: 50%;
    &:hover{
      background-color: @lighter-green;
    }
    &__active, &:active{
      background-color: @darker-green;
    }
  }

  &--action{
    background-color: #dbdbdb;
    border: black 2px solid;
    font-size: 1.3em;
    width: 200px;
    height: 35px;
    color: @text-color !important;
    &:hover{
      background-color: @lighter-green;
    }
    &:active{
      background-color: @darker-green;
    }
  }

  &--reset{
    background-color: @warning-yellow;
    color: white;
    border: 1px solid black;
    font-size: 1.1em;
    &:hover{
      background-color: @warning-yellow-transparent;
    }
    &:active{
      background-color: @darker-green;
    }
  }

}

.icon{
  margin-left: 5px;
  &--chevron {
    height: 8px;
    transition: transform 0.2s;
    &__right {
      transform: rotate(-90deg);
    }
  }
  &--run {
    height: 14px;
    fill: black;
  }
}

.default-margins{
  margin: 5px;
}

.disabled{
  background-color: grey;
}

.pane-heading{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
}


.scrolling-list-wrapped{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  max-height: 400px;
  overflow-y: scroll;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.spinner::before{
  border-color: @main-green !important;
  border-top-color: transparent !important;
}

.footer-icon{
  fill: black;
  &:hover{
    opacity: 0.6;
  }
}

.mirgenedb{
  font-family: monospace;
  &:hover{
    opacity: 0.6;
  }
  &__red{
    color: red;
  }
  &__blue{
    color: blue;
  }
  &__black{
    color: black;
  }
}

.uio{
  height: 35px;
  width: 35px;
}

.uio-container{
  &:hover{
    opacity: 0.6;
  }
}

.cookie-banner{
  display: none;
  z-index: 1;
  position: absolute;
  padding: 5px 30px 5px 30px;
  top: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  &--active{
    display: flex;
  }
}

.cookie-cross{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}

.mirmachine-logo{
  height: @header-height;
  padding: 5px 5px 0px 5px;
}

.logo-container{
  &:hover{
    opacity: 0.6;
  }
}

.index5{
  z-index: 5;
  }

.result-button-container{
  display: flex;
  width: 90%;
  justify-content: flex-start;
}

.black-text{
  color: black !important;
  &:hover{
    color: rgba(0,0,0,0.5) !important;
  }
}