@header-height: 50px;

.App {
  text-align: center;
}

.App-header {
  height: @header-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  background-color: @main-green;
}

.header-content{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: @header-height;
}

.no-margins{
  margin: 0;
}

.flex-column{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.content{
  margin: 0;
  color: white;
}

.limit-width{
  width: 100%;
  max-width: 600px;
}

.input-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  postion: relative;
}

.input-cell {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 5px 0 5px 0;
}

.align-left {
  align-items: flex-start;
}

.optional-section{
  position: relative;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  background-color: @main-green;
  border-radius: 5px;
  margin: 5px;
  animation: growDown 300ms ease-in-out forwards;
  &__active{
    display: flex;
  }
  &__passive{
    display: none;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.button{
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 5px 0 5px;
  margin-top: 5px;
  align-items: center;
  &--default{
    font-size: 0.85em;
    background-color: white;
    border-color: grey;
    color: black;
    padding-right: 3px !important;
    &:hover{
      background-color: grey;
    }
    &:active{
      background-color: @main-color;
    }
  }

  &--header{
    background-color: @main-green;
    &:hover{
      background-color: @lighter-green;
    }
    &__active, &:active{
      background-color: @darker-green;
    }
  }

  &--action{
    background-color: @main-green;
    border-color: @darker-green;
    font-size: 1.3em;
    &:hover{
      background-color: @lighter-green;
    }
    &:active{
      background-color: @darker-green;
    }
  }

  &--reset{
    background-color: @warning-yellow;
    color: white;
    border-color: @main-green;
    font-size: 1.1em;
    &:hover{
      background-color: @warning-yellow-transparent;
    }
    &:active{
      background-color: @darker-green;
    }
  }

}

.icon{
  margin-left: 5px;
  &--chevron {
    height: 6px;
    transition: transform 0.2s;
    &__right {
      transform: rotate(-90deg);
    }
  }
  &--run {
    height: 14px;
    fill: white;
  }
}

.default-margins{
  margin: 5px;
}