//color palette
//@main-color: #282C34;
//@main-green: #89b6a5;
//@lighter-green: #C9EDDC;
//@darker-green: #82968C;
//@warning-yellow: #ce8147;
//@warning-yellow-transparent: rgba(206,129,71,0.8);

@main-color: #282c34;
@main-green: #36528a;
@lighter-green: #506691;
@darker-green: #3a4c6e;
@warning-yellow: #d1a141;
@warning-yellow-transparent: rgba(209,161,65,0.8);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: @main-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:link, a:hover, a:active, a:visited {
  color: white;
  text-decoration: none;
}