//color palette

//@main-color: #282c34;
//@main-green: #36528a;
//@lighter-green: #506691;
//@darker-green: #3a4c6e;
//@warning-yellow: #d1a141;
//@warning-yellow-transparent: rgba(209,161,65,0.8);

//@main-color: #235353;
@main-green: #047576;
@main-color: #2c6666;
@lighter-green: #049F9E;
@darker-green: #057D7B;
@warning-yellow: #DB3A34;
@warning-yellow-transparent: rgba(219, 58, 52, 0.8);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: @main-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:link, a:hover, a:active, a:visited {
  color: white;
  text-decoration: none;
}